<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ShowListProblemServlet</servlet-name>
        <servlet-class>Servlet.ListProblemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStatusServlet</servlet-name>
        <servlet-class>Servlet.ListStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportProblemServlet</servlet-name>
        <servlet-class>Servlet.ReportProblemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuServlet</servlet-name>
        <servlet-class>Servlet.MenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelpServlet</servlet-name>
        <servlet-class>Servlet.HelpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowListProblemServlet</servlet-name>
        <url-pattern>/ShowListProblem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStatusServlet</servlet-name>
        <url-pattern>/ShowListStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportProblemServlet</servlet-name>
        <url-pattern>/ReportProblem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern>/Menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelpServlet</servlet-name>
        <url-pattern>/Help</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
