/* 
    Created on : Mar 25, 2017, 9:57:42 PM
    Author     : User
*/
/* General */
body {
    font-size: 16px;
    font-family: 'Sriracha', cursive;
}
.font-itim {
    font-family: 'Itim', cursive;
}
/* Login page */
.top-space {
    margin-top: 4.5em;
}
.email {
    background-image: url("../img/letter.png");
    background-repeat: no-repeat;
    background-position: center;
}
.password {
    background-image: url("../img/key.png");
    background-repeat: no-repeat;
    background-position: center;
}
.btn-login {
    background-color: rgb(153,153,125);
    color: white;
}
/* Menu page */
.menu-list {
    font-size: 1.3em;
}
.menu-list img {
    float: right;
}
a:link, a:active, a:visited, a:hover {
    color: #000;
    text-decoration: none;
}
